<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
<div class="navbar-brand">

    <%= image_tag("logo.jpeg", width:"32",class:"image ml-4")%>
    <div>
    <%= link_to("Idea Factory", root_path)%>
    </div>
</div>
<div>
<%= link_to("New Idea", new_idea_path, class:"btn btn-outline-dark shadow-lg")%>
        <% if user_signed_in? %>
        Hello <%= current_user.full_name %> 
        |
        <%= link_to "Logout", session_path, method: :delete,
        data: {confirm: 'Are you sure you want to log out?'}
         %>
        <% else %>
        <%= link_to "Login", new_session_path %> |
        <%= link_to "Sign Up", new_user_path %>
        <% end %>
</div>
</nav>